@tailwind base;
@tailwind components;
@tailwind utilities;

.containerWrap {
  @apply container mx-auto max-w-4xl;
}

@font-face {
  font-family: "Simpsonfont";
  font-display: swap;
  src: url("../fonts/Simpsonfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
